#instrument {
  margin: 25% 1% 1% 1%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3px;
}

.drum-pad {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  font-size: 0vh;
  cursor: pointer;
}

#display {
  margin: 0% 1% 1% 1%;
  height: 25vh;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
}

@media (min-width: 600px) {
  #instrument {
    margin: 5% 15% 1% 15%;
  }

  .drum-pad {
    color: black;
    font-size: 3vh;
  }

  #display {
    margin: 0% 15% 1% 15%;
  }
}

@media (max-height: 550px) {
  .drum-pad {
    color: #eeeeee;
  }
}

.clicked {
  background-color: #cfe0f0;
}
